/* цвет основного текста черный #757575  ; */
/* вторичный цвет текста #212121 */
/* background секции hero #2F303A; */
/* цвет logo #000000 и #2196F3 */

:root {
    --accent-color: #2196F3;
    --primary-txt-cl: #757575;
    --title-txt-cl: #212121;
    --primary-bg-cl: #2F303A;
    --secondary-bg-cl: #F5F4FA; 
    --white-cl: #FFFFFF;
}
body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;

}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
/* -----header----- */
.header {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
        }
.logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
span {
    color: var(--accent-color)
}
.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.site-nav .link {
    color: var(--title-txt-cl);
}
.site-nav .link:hover,
.site-nav .link:focus {
color: var(--accent-color);
}
.site-nav .link.current {
color: var(--accent-color);
}
.contacts {
    color: var(--primary-txt-cl)
    
}
.contacts:hover,
.contakts:focus {
    color: var(--accent-color);
}
/* section hero */
.hero {
    background-color: var(--primary-bg-cl);
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}   
.btn-hero {
    color: var(--white-cl);
    background-color: #188CE8;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.btn-hero:hover,
.btn-hero:focus {
    background-color: var(--accent-color);
}
/* Benefits */
.Benefits .title {
    color: var(--title-txt-cl);
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.Benefits .text {
    color: var(--primary-txt-cl);
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
}

/* section чем мы занимаемся */
.work-title,
.team-title {
    color: var(--title-txt-cl);
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

   /* section наша команда */
   .team {
    background-color: var(--secondary-bg-cl);
   }
   
.team-descr {
    color: var(--title-txt-cl);
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);   
    letter-spacing: 0.03em;
}
.team-text {
    color: var(--primary-txt-cl);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);    
    letter-spacing: 0.03em;
}


/* footer */
.footer {
    background-color: var(--primary-bg-cl)
}
.logo-footer {
    color: var(--white-cl);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 /26);
    letter-spacing: 0.03em;
}
.logo-footer:hover,
.logo-footer:focus {
    color: var(--accent-color);
}

.address-map {
    color: var(--white-cl)
}
.address-contact {
color: rgba(255, 255, 255, 0.6);

}
.address-map:hover,
.address-map:focus {
    color: var(--accent-color);
}
.address-contact:hover,
.address-contact:focus {
    color: var(--accent-color);
}
 address {
    font-style: normal;
 }  
   
/* ----- portfolio page----------*/

/* ------button list---- */
.btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: var(--secondary-bg-cl);
}
 .btn:hover,
 .btn:focus {
    color: var(--white-cl);
    background-color: var(--accent-color);
 }
/* -----portfolio list----- */

.portfolio-title {
    font-family: inherit;
    font-size: 18px;
    line-height: calc(36 / 18);   
    letter-spacing: 0.06em;
    color: var(--title-txt-cl);
}
.portfolio-text {
    color: var(--primary-txt-cl);
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
}


